<header class="header">
  <nav class="header__menu">
    <ul class="menu__list">
      {% with request.resolver_match.view_name as view_name %}
      <li class="menu__item">
        <i class="fa-solid fa-newspaper"></i>
        <a href="#">Publications</a>
      </li>

      <li class="menu__item">
        <i class="fa-solid fa-comments"></i>
        <a href="#">Chats</a>
      </li>

      <li class="menu__item">
        <i class="fa-solid fa-user"></i>
        <a href="#">Profile</a>
      </li>
        

      <li class="menu__item">
        <i class="fa-solid fa-user-group"></i>
        <a href="#">Friends</a>
      </li>
      {% endwith %}
    </ul>
  </nav>
</header>
