<header class="header">
  <nav class="header__menu">
    <ul class="menu__list">
      {% with request.resolver_match.view_name as view_name %}
      <li class="menu__item">
        <i class="fa-solid fa-newspaper"></i>
        <a href="{% url 'publications:publications_list' %}">Publications</a>
      </li>

      <li class="menu__item">
        <i class="fa-solid fa-comments"></i>
        <a href="{% url 'chats:chats_list' %}">Chats</a>
      </li>

      <li class="menu__item">
        <i class="fa-solid fa-user"></i>
        <a href="{% url 'profile:user_profile' %}">Profile</a>
      </li>

      <li class="menu__item">
        <i class="fa-solid fa-user-group"></i>
        <a href="{% url 'friends:friends_list' %}">Friends</a>
      </li>
      {% endwith %}
    </ul>
  </nav>
</header>
