<header class="header">
  <nav class="header__menu">
    <ul class="menu__list">
      {% with request.resolver_match.view_name as view_name %}
        <li class="menu__item {% if view_name == 'publications:publications_list' %}active{% endif %}"><a href="#">Publications</a></li>
        <li class="menu__item"><a href="#">Chats</a></li>
        <li class="menu__item"><a href="#">Profile</a></li>
        <li class="menu__item"><a href="#">Friends</a></li>
      {% endwith %}
    </ul>
  </nav>
</header>
