{% extends "base.html" %}
{% load django_bootstrap5 %}
{% block title %}
    Добавление публикации
{% endblock title %}
{% block content %}
<div class="container d-flex align-items-center justify-content-center">
    <div class="card col-8 mt-4">
      <div class="card-header text-center">Добавление публикации</div>
      <div class="card-body">
        <form method="post" class="mx-auto">
          {% csrf_token %}
          {% bootstrap_form form %}
          {% bootstrap_button button_type="submit" content="Добавить" %}
        </form>
      </div>
    </div>
  </div>
{% endblock content %}
