{% extends "base.html" %}
{% block title %}
  {{ title }}
{% endblock title %}
{% block content %}
  {% for publication in publications %}
    <div class="publications__container">
      <div class="publications__post">
        <a href="{% url 'publications:publication_detail' publication.slug %}">
          <h2>
            <b>{{ publication.title }}</b>
          </h2>
          <div class="publications__main">{{ publication.main|truncatewords:10 }}</div>
          <div class="publications__footer">
            <div class="publications__actions">
              <p><i class="fa-regular fa-heart"></i>{{ publication.likes }}</p>
              <p><i class="fa-regular fa-comment"></i>{{ publication.comments_amount }}</p>
            </div>
            <p class="publications_date">{{ publication.publication_date }}</p>
          </div>
        </a>
      </div>
    </div>
  {% empty %}
    <h2 class="center">Пока публикаций нет. Вы можете стать первым!</h2>
  {% endfor %}
{% endblock content %}
